$color-primary: #1a9605;
$color-secondary: #83c469;
$color-green-light:#98d580;

$color-dark: #222;
$color-light: #f6f6f6;
$color-white: #fff;

$color-red: #d31616;
$color-salmon: #f6645c;
$color-salmon-light: #f5938e;

// SOCIAL MEDIA COLORS
$color-facebook: #2050b3;
$color-instagram: #E1306C;
$color-twitter: #fff;
$color-pinterest: #E60023;